.aboutpayment {
    width: 100%;
    height: fit-content;
}

.aboutpayment-inner {
    width: 100%;
}


.aboutpayment-inner h2 {
    font-size: 20px;
  font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.aboutpayment-inner p{
    line-height: 150%;
    font-family: "Montserrat", sans-serif;
}

